@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row">
        <div class="col-6 col-md-4">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Questions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tags</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Users</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md-8">
            <h1>Questions</h1>


            <p>This is a sample Question.....................................</p>
            <p>This is a sample Answe.........................................</p>
        </div>       
    </div>
</div>